certifi==2021.10.8
decorator==5.1.0
easyinput==2.4
fuzzysearch==0.7.3
fuzzywuzzy==0.18.0
geopandas==0.10.2
haversine==2.5.1
ipython==7.28.0
ipython-genutils==0.2.0
matplotlib==3.4.3
matplotlib-inline==0.1.3
networkx==2.8
numpy==1.21.3
osmnx==1.1.2
pandas==1.4.2
pandocfilters==1.5.0 (no estic segura d'aixo)
pickleshare==0.7.5
python-dateutil==2.8.2
python-Levenshtein==0.12.2
python-telegram-bot==13.11
requests==2.26.0
simpy==4.0.1 (crec que son del python que no cal instalarles)
six==1.16.0
staticmap==0.5.5
sympy==1.9 (crec que son del python que no cal instalarles)
testpath==0.5.0
typing_extensions==4.1.1
urllib3==1.26.7
